$border-style: solid 1px #333;

* {
    box-sizing: border-box;
}
.data-list-view {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    border: $border-style;

    max-height: 77vh;
    overflow: auto;
}
ul.data-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        position: relative;
        border-top: $border-style;
        font-size: 14px;
        transition: background-color 0.25s;
        clear: both;

        &:nth-child(odd) {
            background-color: #f8f8f8;
        }

        &:first-child {
            background-color: #777;
            color: #fff;
            border-top: none;
        }

        .id, .title {
            display: inline-block;
            padding: 5px;
        }
        .id {
            position: absolute;
            min-width: 40px;
            text-align: right;
        }
        .title {
            margin-left: 40px;
            border-left: $border-style;
        }

        &.selected, &:hover {
            background-color: #ccc;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.dataunit-detail-view {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 10px;
}